@import '@/scss/variables';

.form {
  display: flex;
  flex-direction: column;

  gap: 10px;

  width: 397px;

  &__item {
    position: relative;

    display: flex;

    gap: 12px;

    input:not([type='checkbox']) {
      width: 100%;
    }

    &Label {
      color: #000;

      font-size: 12px;
      font-weight: 400;

      cursor: pointer;
    }

    svg {
      position: absolute;

      top: 0.75px;
      left: 1px;
    }
  }

  button {
    margin-top: 10px;
  }

  &__link {
    display: flex;
    align-items: center;

    gap: 10px;

    font-weight: 400;
    font-size: 12px;

    span {
      color: #000;
    }

    a {
      color: $primaryButtonBg;

      text-decoration: underline;
    }
  }
}
